<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommdenations</title>
</head>
<body>
<h1>Recommendations:</h1>
{% for movieId, details in recommendations %}
    <h2>{{ details.title }}</h2>
    <img src="{{ details.posterPath }}" alt="Poster not available">
    <p>
        <span>Released: {{ details.releaseDate }}</span>
        <h3>Genre:</h3>
        <ul>
            {% for genre in details.genres %}
                <li>{{genre}}</li>
            {% endfor %}
        </ul>
        <h3>Synopsis:</h3>
        <p>
            {{ details.synopsis }}
        </p>
        <h3>Actors:</h3>
        <ul>
            {% for actor in details.actors %}
                <li>{{actor}}</li>
            {% endfor %}
        </ul>
    </p>

{% endfor %}
</body>
</html>